*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#navbar_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #007AEA;
    height: 70px;
}

#navbar_container img{
    width: 70px;
}

#navbar_container h1{
    color: white;
}

.navbar_links a{
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.navbar_links a:hover{
    color: #00378A;
}

.navbar_login a{
    color: white;
    text-decoration: none;
}

.navbar_login a:hover{
    color: #00378A;
}